target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iws
*.iml
*.ipr

.classpath
.project
.settings/

*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.env
application-local.properties
src/main/resources/application.properties
